* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: rubik;
  src: url(/Rubik-VariableFont_wght.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 24px 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.home {
  display: flex;
  gap: 29px;
  font-size: 15px;
  font-weight: 700;
}

.home a {
  color: #161c2d;
  text-decoration: none;
}
header h1 {
  font-family: rubik;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7fa;
  margin-top: 23px;
  padding-top: 81px;
}

.contact .top {
  width: 601px;
}

.contact h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #161c2d;
}

.contact p {
  margin-top: 44px;
  font-size: 19px;
  font-weight: 400;
  color: #161c2d;
  text-align: center;
}

.price {
  display: flex;
  gap: 31px;
  margin-top: 119px;
}

.pricing {
  background-color: white;
  width: 349px;
  margin-top: 37px;
  padding-left: 49px;
  border-radius: 10px;
}

.pricing h4 {
  color: #473bf0;
  margin-top: 37px;
  font-size: 13px;
  font-weight: 700;
}

.pricing .number {
  display: flex;
  margin-top: 41px;
  font-size: 17px;
  font-weight: 400;
}

.pricing span {
  margin-top: 11px;
  font-size: 15px;
  font-weight: 400;
}

.pricing ul {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pricing .list {
  display: flex;
  gap: 8px;
}

.pricing i {
  color: #68d585;
}
.pricing li {
  list-style: none;
}

#x {
  color: #d5d7dd;
}

.pricing button {
  margin-top: 31px;
  color: #473bf0;
  width: 205px;
  height: 59px;
  background-color: none;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pricing h5 {
  margin-top: 12px;
  margin-bottom: 38px;
  font-size: 15px;
  font-weight: 400;
}

#middle {
  margin-top: 31px;
  background-color: #473bf0;
  color: white;
  width: 205px;
  height: 59px;
  background-color: none;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features .check {
  width: 601px;
  margin: 0 auto;
}

.features h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #161c2d;
  margin-top: 115px;
}

.features p {
  margin-top: 25px;
  font-size: 19px;
  font-weight: 400;
  color: #161c2d;
  text-align: center;
}

.check-box {
  margin-top: 73px;
  margin-bottom: 141px;
}
.check1 {
  display: flex;
  gap: 71px;
}
.check-inner {
  display: flex;
  margin-top: 74px;
  gap: 23px;
  width: 346px;
}

.check-inner h5 {
  font-size: 21px;
  font-weight: 700;
}

.check-inner p {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
  text-align: start;
}
.lists {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 121px;
}

.lists div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer ul li {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
  margin-top: 20px;
}

footer h3 {
  font-size: 15px;
  font-weight: 400;
  color: #161c2d;
}

footer a {
  color: #473bf0;
  text-decoration-line: none;
  font-size: 17px;
  font-weight: 700;
}

footer .text {
  display: flex;
  justify-content: space-between;
  margin: 108px 245px;
  border-top: #e7e9ed solid 2px;
  padding-top: 29.5px;
}

footer .copy {
  display: flex;
  gap: 8px;
}

.copy p {
  white-space: nowrap;
}

footer .logos {
  display: flex;
  gap: 30px;
}
